<!--<div>Current Count: {{ count$ }}</div>
<div *ngFor="let dp of dataPointss$">{{dp.myname()}}</div>-->
<div class="data-point-container">
  <div>
    <mat-list dense *ngIf="IsEdit$==false">
      <!-- <mat-list-item> ID: {{dpThis$.ID}} </mat-list-item> -->
      <mat-list-item> Name: {{dpThis$.name}} </mat-list-item>
      <mat-list-item> Date: {{dpThis$.date}} </mat-list-item>
      <mat-list-item> Happy: {{dpThis$.happy}} </mat-list-item>
    </mat-list>
    <app-line-chart [MyDataSet]="MyDataSetL$" *ngIf="IsEdit$==false"></app-line-chart>

    <edit-data-point  [dpThis]="dpThis$" *ngIf="IsEdit$==true"></edit-data-point>
  </div>
  <div>
    <app-scatter-chart [MyDataSet]="MyDataSetS$" *ngIf="IsEdit$==false"></app-scatter-chart>
    <mat-list-item *ngIf="IsEdit$==false"> Diary: {{dpThis$.diary}} </mat-list-item>
  </div>
</div>