<div class="monthly-radar-container">
    <div class="column-container">
        <div>
            <button mat-raised-button color="primary" (click)="RadioToggle()">ToggleChart</button>
        </div>
        <div>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" [value]="monthlyDate" placeholder="Choose a date"
                    (dateInput)="EndDateChange($event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year"></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <mat-select [(value)]="monthlyChoice" (valueChange)="Change()">
                <mat-option  [value]="option" *ngFor="let option of dataPointTypes">
                        {{option}}
                </mat-option>
            </mat-select>
        </div>
    </div>
    <div class="radar-container">
        <radar-chart [showList]="showListRadar" [showLabels]="showLabelsRadar" *ngIf="IsRadio==true"></radar-chart>
        <dynamic-chart [showList]="showListBar" [showLabels]="showLabelsBar" *ngIf="IsRadio==false"></dynamic-chart>
    </div>
</div>