<div>
    <form class="example-container" [formGroup]="dpForm" (change)="CallChange()">
        <div>
            <label>Name: </label>
            <mat-form-field>
                <input matInput type="text" formControlName="name" id="name">
                <mat-error *ngIf="dpForm.get('name')?.invalid">You have more than 60 characters</mat-error>
            </mat-form-field>
        </div>
        <div>
            <label>Time Consumed: </label>
            <mat-form-field>
                <input matInput [ngxTimepicker]="picker" [format]="24" [value]="timeCon" formControlName="timeConsumed">
                <ngx-material-timepicker (closed)="CallChange()" #picker></ngx-material-timepicker>
            </mat-form-field>
        </div>
        <div>
            <label>Type: </label>
            <mat-form-field>
                <mat-select formControlName="type" (selectionChange)="CallChange()">
                    <mat-option *ngFor="let type of consumableValues" [value]="type">
                        {{type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</div>
<div>
    <mat-action-list class="myconsumedlist" dense>
        <div class="container" *ngFor="let co of List">
            <div class="text-container"><button mat-list-item (click)="selectCo(co)">{{showCo(co)}} </button></div>
            <div><button mat-list-item (click)="deleteCo(co)">X</button></div>
        </div>
    </mat-action-list>
</div>