<div>
    <form class="example-container" [formGroup]="dpForm" (change)="CallChange()">
        <div>
            <label>Name: </label>
            <mat-form-field>
                <input matInput type="text" formControlName="name" id="name" >
                <mat-error *ngIf="dpForm.get('name')?.invalid">You have more than 60 characters</mat-error>
            </mat-form-field>
        </div>
        <div>
            <label>Effectiveness: </label>
            <mat-form-field>
                <input matInput type="number" formControlName="effectiveness">
                <mat-error *ngIf="dpForm.get('effectiveness')?.invalid">You have more than 3 characters</mat-error>
            </mat-form-field>
        </div>
        <div>
            <label>Stars on: </label>
            <mat-form-field>
                <input matInput [ngxTimepicker]="pickerS" [format]="24" [value]="starts" formControlName="startsOn" >
                <ngx-material-timepicker  (closed)="CallChange()" #pickerS></ngx-material-timepicker>
            </mat-form-field>
        </div>
        <div>
            <label>Ends on: </label>
            <mat-form-field>
                <input matInput [ngxTimepicker]="pickerE" [format]="24" [value]="ends" formControlName="endsOn">
                <ngx-material-timepicker  (closed)="CallChange()" #pickerE></ngx-material-timepicker>
            </mat-form-field>
        </div>
        <div>
            <label>Type: </label>
            <mat-form-field>
                <mat-select formControlName="type" (selectionChange)="CallChange()">
                  <mat-option *ngFor="let type of exerciseValues" [value]="type">
                    {{type}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <label>Description: </label>
            <mat-form-field>
                <textarea matInput type="text" formControlName="description"></textarea>
                <mat-error *ngIf="dpForm.get('description')?.invalid">You have more than 1000 characters</mat-error>
            </mat-form-field>
        </div>
    </form>
</div>
<div>
    <mat-action-list class="myeventlist" dense>
        <div class="container" *ngFor="let ex of List">
        <div class="text-container"><button mat-list-item  (click)="selectEx(ex)" >{{showEx(ex)}} </button></div>
        <div><button mat-list-item (click)="deleteEx(ex)" >X</button></div>
        </div>
    </mat-action-list>
</div>