<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')"
    class="mysidenav myeventlist">
    <mat-action-list class="myeventlist">
      <button mat-list-item (click)="selectDP(dp)" *ngFor="let dp of dataPointList">{{showDP(dp)}} </button>

    </mat-action-list>
  </mat-sidenav>

  <mat-sidenav-content class="myeventlist">
    <button mat-button (click)="sidenav.toggle()">
      <mat-icon aria-hidden="false">swap_horiz</mat-icon>
    </button>
    <button mat-button (click)="nekaFunkcija()">Create Data Point</button>
    <div class="example-events">
      <div *ngFor="let dp of lastOpendDataPoint">{{dp}}</div>
    </div>
    <div>
      <app-data-point [dpThis] = "selectedDP"></app-data-point>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>