<div class="edit-data-point-container">
    <div>
        <div><label> Date: {{showDate()}} </label></div>
        <form class="example-container" [formGroup]="dpForm">
            <div><button mat-raised-button color="primary" type="submit" (click)="saveDP()">Save</button></div>
            <div>
                <label>Name: </label>
                <mat-form-field>
                    <input matInput type="text" formControlName="name" id="name">
                    <mat-error *ngIf="dpForm.get('name')?.invalid">You have more than 60 characters</mat-error>
                </mat-form-field>
            </div>
            <div>
                <label>Happiness: </label>
                <mat-form-field>
                    <input matInput type="number"  formControlName="happiness">
                    <mat-error *ngIf="dpForm.get('happiness')?.invalid">You have more than 2 characters</mat-error>
                </mat-form-field>
            </div>
            <div>
                <label>Diary: </label>
                <mat-form-field>
                    <textarea matInput type="text" formControlName="diary"></textarea>
                    <mat-error *ngIf="dpForm.get('diary')?.invalid">You have more than 1000 characters</mat-error>
                </mat-form-field>
            </div>
            <!---->
        </form>
    </div>
    <div>
        <edit-exercise [dpExercise]="dpThis$.exercises"></edit-exercise>
    </div>
    <div>
        <edit-activity [dpActivity]="dpThis$.activities"></edit-activity>
    </div>
    <div>
        <edit-consumable [dpConsumable]="dpThis$.consumables"></edit-consumable>
    </div>
</div>